.TweetContainer {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 0.25rem;
    /* border: 1px solid gray; */
    /* border-width: 1px;
    border-color: rgb(209 213 219 / 1); */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #FFF;
    overflow: hidden;
}

.TweetTitles {
    display: flex;
    align-items: center;
}

.TweetAvatarWrapper {
    display: flex;
    height: 3rem;
    width: 3rem;
}

.TweetAvatarWrapper img {
    border-radius: 50%;
}

.TweetAuthorInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    text-decoration: none;
}

.verifiedIcon {
    margin-left: 0.25rem;
    color: rgb(59,130,246);
    display: inline;
    height: 1rem;
    width: 1rem;
}

.TweetAuthorName {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: rgb(17,24,39);
    line-height: 1.25rem;
    cursor: pointer;
}

.TweetAuthorUsername {
    color: rgb(107,114,128);
    cursor: pointer;
}

.TweeterIcon {
    margin-left: auto;
}

.TweetText {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    line-height: 1.5;
    white-space: pre-wrap;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(55,65,81);
}

.TweetMedia {
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.TweetMedia img {
    border-radius: 0.25rem;
}

.CreatedTime {
    color: rgb(107,114,128);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.CreatedTime:hover {
    text-decoration-line: underline;
}

.TweetMetrics {
    display: flex;
    color: rgb(55,65,81);
    margin-top: 0.5rem;
}

.ReplyCount {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: rgb(107,114,128);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-decoration: none;
    cursor: pointer;
}
.ReplyCount:hover {
    color: rgb(37,99,235);
    text-decoration-line: underline;
}
.ReplyCount svg, .RetweetCount svg, .LikeCount svg{
    margin-right: 0.5rem;
}
.ReplyCount svg path, .RetweetCount svg path, .LikeCount svg path{
    fill: currentColor;
}


.RetweetCount, .LikeCount {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(107,114,128);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.RetweetCount:hover {
    color: rgb(22,163,74);
    text-decoration-line: underline;
}
.RetweetCount:hover {
    color: rgb(220,38,38);
    text-decoration-line: underline;
}
